<!DOCTYPE html>
<html>
    <head>
        <title>HorusV5 - Tattica Técnologia</title>
        <meta charset="utf8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/estilo.css">
    </head>
    <body>
        <div class="container">
            <img src="static/img/icon.png" alt="">
                <h1>HorusV5 - Tattica Técnologia</h1>
        </div>
        <div>
            {{ conteudo|safe }}
        </div>
    </body>
</html>