<!DOCTYPE html>
<html>
    <head>
        <title>HorusV5 - Tattica Tecnologia</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/estilo.css">
    </head>
    <body>
        <div class="container">
            <img src="static/img/icon.png" alt="">
            <h1>HorusV5 - Tattica Tecnologia</h1>
            <div>
                <h3 id="principal">Administração</h3>
                <ul>
                    <li><a href="adm">Adicionar</a></li>
                    <li><a href="contatos">Contatos</a></li>
                    <li><a href="agendamento">Agendamento</a></li>
                    <li><a href="servicos">Serviços</a></li>
                    <li><a href="ocorrencias">Ocorrências</a></li>
                    <li><a href="telefones">Telefones</a></li>
                    <li><a href="informacoes">Informações</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
