
<!DOCTYPE html>
<html>
    <head>
        <title>HorusV5 - Tattica Técnologia</title>
        <meta charset="utf8">
        <link rel="stylesheet" href="static/css/estilo.css">
    </head>
    <body>
        <div class="container">
            <img src="static/img/icon.png" alt="">
            <h1>HorusV5 - Tattica Técnologia</h1>
            <div>

               <h3 id="principal">Informações</h3>

                <ul>
                    <li><a href="#">Buscar Permissões</a></li>
                    <li><a href="#">Tipo Ocorrência</a></li>
                    <li><a href="#">Tipo Funcionarios</a></li>
                    <li><a href="..">Voltar</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>