
<!DOCTYPE html>
<html>
    <head>
        <title>HorusV5 - Tattica Técnologia</title>
        <meta charset="utf8">
        <link rel="stylesheet" href="static/css/estilo.css">
    </head>
    <body>
        <div class="container">
            <img src="static/img/icon.png" alt="">
            <h1>HorusV5 - Tattica Técnologia</h1>
            <div>

                <h3 id="principal">Serviços</h3>

                <ul>
                    <li><a href="#">Sindicos</a></li>
                    <li><a href="#">Funcionario Cond.</a></li>
                    <li><a href="#">Empresas</a></li>
                    <li><a href="#">Prestadores</a></li>
                    <li><a href="#">Serviços Empresas</a></li>
                    <li><a href="..">Voltar</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>